<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add contact page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body style="background-color: pink">
    <div class="container">
        <div class="header-menu">
            <p>
                <a href="/">Home</a>|
                <a href="/add-contact">Add contact</a>|
                <a href="/list-contact">List contact</a>|
                <a href="/user-register/">Register user</a>|
            </p>
        </div>
        <h1>
            Add contact page
        </h1>

        <hr>
        <form method="post" action="#" th:action="@{/add-contact}" th:object="${contact}">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" th:field="*{name}">
            </div>
            <div class="form-group">
                <label for="phone">Phone Number</label>
                <input type="number" class="form-control" name="phone" th:field="*{phoneNumber}" />
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" th:field="*{email}">
            </div>
            <div class="form-group">
                <label for="address">Address</label>
                <input type="text" class="form-control" id="address" th:field="*{address}">
            </div>

            <div class="form-group">
                <label for="role">Role</label>
                <select class="form-control" name="role" id="role" th:field="*{role}">
                    <option value="ROLE_ADMIN" selected>Admin</option>
                    <option value="ROLE_MEMBER">Member</option>
                    <option value="ROLE_GUEST">Guest</option>
                </select>
            </div>
            <input type="submit" class="btn btn-success" value="Add">
        </form>

        <hr>
        <a href="/" th:href="@{/}">back to homepage</a>|
        <a href="#" th:href="@{/logout}">logout</a>
    </div>
</body>
</html>
