<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>List contact page</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    </head>

    <body style="background-color: pink">
        <div class="container">
            <div class="header-panel">
                <p>
                    <a href="/static">Home</a>|
                    <a href="/add-contact">Add contact</a>|
                    <a href="/list-contact">List contact</a>|
                    <a href="/user-register/">Register user</a>|
                </p>
            </div>
            <h1>
                List contact page
            </h1>
            <hr>

            <table th:if="${contactList != null AND  contactList != ''}" class="table table-bordered table-striped text-center">
                <thead class="thead-light">
                    <th class="text-center">ID</th>
                    <th class="text-center">Name</th>
                    <th class="text-center">Phone number</th>
                    <th class="text-center">Address</th>
                    <th class="text-center">Email</th>
                    <th class="text-center">Role</th>
                    <th class="text-center"></th>
                    <th class="text-center"></th>
                </thead>
                <tbody>
                    <tr th:each="contact : ${contactList}">
                        <td th:text="${contact.id}"></td>
                        <td th:text="${contact.name}"></td>
                        <td th:text="${contact.phoneNumber}"></td>
                        <td th:text="${contact.address}"></td>
                        <td th:text="${contact.email}"></td>
                        <td th:text="${contact.role}"></td>
                        <td><a th:href="@{/edit-contact/} + ${contact.id}">Edit</a></td>
                        <td><a th:href="@{/delete-contact/} + ${contact.id}">Delete</a></td>
                    </tr>
                </tbody>
            </table>

            <hr>
            <a href="/" th:href="@{/}">back to homepage</a>|
            <a href="#" th:href="@{/logout}">logout</a>
        </div>

    </body>
</html>
